.App-logo {
 width: 180px;
}


.App-header {
 background-image: url("../src/colores.jpeg");
  min-height: 100vh;
 
  font-size:20px;
  color: white;
}


.ul-productos{

  list-style:none;
  display: flex;
  flex-direction:row;
}

.Li-productos{
 margin: 20px;
 display: flex;
 justify-content: center;

}
a { color:lightseagreen;} 
a:visited 


.catalogo{
  margin: 20px;
  display: flex;
 flex-direction: row;
 
 }